@import url('https://fonts.googleapis.com/css?family=Open+Sans|Muli');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Muli', sans-serif;
}
